

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #001931;
  --color-secondary: #627382;
  --color-accent: #9F62F2;
  --color-base-100: #f5f5f5;
}


.active {
  @apply text-accent border-b-2 rounded-none;
}

h1, h2, h3, h4 {
  @apply text-primary;
}
p {
  @apply text-secondary;
}

.link-hover {
  @apply font-semibold transition-colors duration-200 ease-linear hover:text-accent;
}

.gradAccentClr {
  @apply transition-colors duration-700 ease-linear bg-linear-to-tr from-[#632EE3] to-[#9F62F2];
}

.gradAccentClrHover:hover {
  @apply bg-linear-to-r from-[#9F62F2] to-[#632EE3];/* hover gradient */
}