@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #001931;
  --color-secondary: #627382;
  --color-accent: #9f62f2;
  --color-base-100: #f5f5f5;
}

body {
  font-family: "Lato", sans-serif;
}

.active {
  @apply text-accent border-b-2 rounded-none;
}

h1,
h2,
h3,
h4 {
  @apply text-primary;
}
p {
  @apply text-secondary;
}

.commonSectionPadding {
  @apply pt-10 md:pt-14 lg:pt-20;
}

.logoHover {
  @apply transition-colors duration-300 ease-linear;
}

.link-hover {
  @apply font-semibold transition-colors duration-200 ease-linear hover:text-accent;
}

.gradAccentClr {
  @apply transition-colors duration-700 ease-linear bg-linear-to-tr from-[#632EE3] to-[#9F62F2];
}

.gradAccentClrHover:hover {
  @apply bg-linear-to-r from-[#9F62F2] to-[#632EE3]; /* hover gradient */
}

.title {
  @apply font-black text-4xl text-center md:text-5xl;
}