@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
  /* --bg-base-content: #030712; */
}

.active {
  @apply text-accent border-b-2 rounded-none;
}